<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1> First mail. To <%= @user.name %></h1>
<p>
  login id「 <%= @user.login %> 」
  login url <%= @url %>
</p>
</body>
</html>
